.bg-container{
    background-color: aliceblue;
    height: 100vh;
    width: 500px;
    padding: 10px;
}
.heading{
    text-align: center;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 35px;    
    margin-right: 105px;
   
}
#maininput{
    border-radius: 2px;
    height: 50px;
    width: 200px;
    border-color: beige;
    text-align: center;
    margin-left: 85px;
    margin-top: 25px;
}
#addbtn{
    height: 50px;
    width: 100px;
    border-radius: 5px;
    margin-left: 125px;
    margin-top: 15px;
    background-color: green;
    font-weight: bold;
    font-size: 20px;
    color: black;
}
.containerlist{
    background-color: white;
    width: 350px;
    margin-top: 15px;
}
#checkid{
    height: 30px;
    width: 30px;
    margin-right: 15px;
    margin-top: 35px;
    border-color: black;
    border-width: 2px;
}
#labelelement{
    font-size: 15px;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding:15px;
}
.deletebtn{
    height: 30px;
    width: 70px;
    margin-left: 15px;
    background-color: rgb(249, 95, 95);
    font-weight: bold;
    font-size: 15px;
    color: black;
    border-radius: 10px;
    margin-top: 15px;
    margin-left: 35px;
}
#checkid2{
    height: 30px;
    width: 30px;
    margin-right: 15px;
    margin-top: 35px;
    border-color: black;
    border-width: 2px;
}
#checkid3{
    height: 30px;
    width: 30px;
    margin-right: 15px;
    margin-top: 35px;
    border-color: black;
}
#checkid4{
    height: 30px;
    width: 30px;
    margin-right: 15px;
    margin-top: 35px;
    border-color: black;    
    border-width: 2px;
}
.Editbtn{
     height: 30px;
    width: 70px;
    background-color: rgb(99, 99, 248);
    font-weight: bold;
    font-size: 15px;
    color: black;
    border-radius: 20px;
    margin-top: 15px;
    margin-left: 55px;
}
.Editbtn2{
     height: 30px;
    width: 70px;
    background-color: rgb(99, 99, 248);
    font-weight: bold;
    font-size: 15px;
    color: black;
    border-radius: 20px;
    margin-top: 15px;
    margin-left: 75px;
}
.Editbtn3{
     height: 30px;
    width: 70px;
    background-color: rgb(99, 99, 248);
    font-weight: bold;
    font-size: 15px;
    color: black;
    border-radius: 20px;
    margin-top: 15px;
    margin-left: 35px;
}
.Editbtn4{
     height: 30px;
    width: 70px;
    background-color: rgb(99, 99, 248);
    font-weight: bold;
    font-size: 15px;
    color: black;
    border-radius: 20px;
    margin-top: 15px;
    margin-left: 55px;
}